.Fade-In{
  animation: fadeIn 3s;
}

.Image{
  
    margin-left: 82%;
    

    width: 34px;
    height: 23px;
  
    /* border: solid white 2px; */
  
    margin-top: 13px;
}


@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}


.Fade-Out{
  animation: fadeIn 3s;
}

@keyframes fadeOut{
  from{opacity: 1;}
  to{opacity: 0;}
}