
 .UserMenuContent {
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 0;    
    right: 57px;
    top: 3%;
    border: 1px solid #888;
    width: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
    
  }