
 .UserMenuContent {
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 0;    
    right: 99px;
    top: 3%;
    border: 1px solid #888;
    width: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
    
  }
  .UserMenuContent div{
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;
      border-bottom: solid black 2px;
  }

  .UserMenuContent div:hover{
    background-color: blue;
    color: white;
}