.Output {
  
  width: 500px;
  min-width: 390px;
  height :600px;
  background: #e5ddd5;
  padding: 25px;
  margin: 20px auto;
  box-shadow: 3px 3px #ccc;
  
    display: flex;
    flex-direction: column;
    overflow: hidden scroll;
}
