.Message{
    align-items: center;
    display: flex;
    margin: 5px;
    
    
}
.Message-notSelf{
    align-items: center;
    display: flex;
    margin: 5px;
    flex-direction: row-reverse;
    
}

.chat-photo{
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border-radius: 50%;
}

.Message div{
    width: fit-content;
    padding: 5px 9px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    /* height: 26px; */
    text-align: left;
    word-break: break-all;
    background-color: #1ddced;
    border-bottom-left-radius: 1px;
    
}
.Message-notSelf div{
    width: fit-content;
    padding: 5px 9px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    /* height: 26px; */
    text-align: left;
    word-break: break-all;
    border-bottom-right-radius: 1px;
    background-color: white;
}

div p{
    font-size: 14.2px;
    color: black;
}
